body{
    margin: none;
}
a{
    text-decoration: none;
}

/* about myself */
#aboutme{
    width: 100%;
    height: 360px;
    background-image: url('images/aboutme\ background\ image.jpg');
    background-repeat: no no-repeat;
    background-size: cover;
    display: inline-block;
}
#myimage{
    width: 40%;
    margin-left: 5%;
    float: left;
}
#myimage>img{
    width: 60%;
    height:314px;
    margin-top: 2%;
    border-radius: 5px;
}
#mydescrip{
    width: 23%;
    margin-right: 20%;
    float: right;
    height: 300px;
    margin-top: 2%;
    font-size: 17px;
}
#mydescrip>p{
    text-align: center;
    color: beige;
}
h2{
    text-align: center;
    color: beige;
    font-style: italic;
}
/* Skills  */
#skill{
    width: 100%;
    height: 135px;
    text-align: center;
    margin: auto;
}
#skill>img{
    width:50px;
    height: 50px;

}
#skill>h2{
    color:black;
}

/* hobbies */
#hobby{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 133px;
}
#hobby>h2{
    text-align: center;
    color: black;
}
#hobby>img{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 3px;
}

/* contact me and get in touch */
.getintouch{
    width:100%;
    height:470px;
}
#googlemtel{
    width:40%;
    float:left;
    text-align: center;
    margin: auto;
    margin-left: 5%;
}
#googlemtel>.container>h2{
    color:black;
}
#phonenm>a>img{
    width:50px;
    height:50px;
}
#googlemtel>a{
    padding-top: 10px;
}
#smedialink{
    float: right;
    width:40%;
    height: 300px;
    text-align: center;
    margin: auto;
    margin-right: 5%;
    margin-top: 0%;
}
#smedialink>h2{
    color:black;
}
#smedialink>a>img{
    height:50px;
    width:50px;
}
#phonenm{
    margin: auto;
}
#github-projects{
    height: 1100px;
}
#kasbah{
    height: 570px;
    margin-bottom: 1%;
    text-align: center;
    margin: auto;
}
#zomato{
    height: 570px;
    margin-bottom: 1%;
    text-align: center;
    margin: auto;
}

/* footer */
.foot{
    background-color: black;
    width:100%;
    height:235px;
    margin-top: 0%;
}
.foot>h2{
    color:white;
}
.foot>.copyright{
    padding-top: 150px;
}
@media screen and (max-width:1540px){
    #mydescrip{
        width: 24%;
        margin-right: 19%;
    }
}
@media screen and (max-width:1475px){
    #myimage>img{
        width:354px;
    }
    #mydescrip{
        width: 24.5%;
        margin-right: 18%;
    }
}
@media screen and (max-width:1400px){
    #mydescrip{
        width: 25%;
        margin-right: 17%;
    }
}
@media screen and (max-width:1365px) {
    #googlemtel{
        margin-left: 3%;
    }
    #smedialink{
        margin-right: 4%;
    }
    #mydescrip{
        width: 25.5%;
        margin-right: 17%;
    }
}
@media screen and (max-width:1300px) {
    #googlemtel{
        margin-left: 3%;
    }
    #smedialink{
        margin-right: 4%;
    }
}
@media screen and (max-width:1260px){
    #mydescrip{
        width: 26%;
        margin-right: 16%;
    }
}
@media screen and (max-width:1200px) {
    #googlemtel{
        margin-left: 2%;
    }
    #smedialink{
        margin-right: 3%;
    }
    #mydescrip{
        width: 27%;
        margin-right: 15%;
    }
}
@media screen and (max-width:1100px){
    #mydescrip{
        width: 28%;
        margin-right: 14%;
    }
}
@media screen and (max-width:1150px) {
    #googlemtel {
        width: 97%;
    }
    #smedialink {
        width: 95%;
        height: 149px;
    }
}
@media screen and (max-width:990px){
    #mydescrip{
        width: 29%;
        margin-right: 13%;
    }
}
@media screen and (max-width:930px){
    #mydescrip{
        width: 30%;
    }
}
@media screen and (max-width:870px){
    #aboutme{
        height: 352px;
    } 
}
@media screen and (max-width:830px){
    #aboutme{
        height: 375px;
    } 
}
@media screen and (max-width:780px){
    #myimage{
        text-align: center;
        margin:auto;
        float: none;
        width: 60%;
    }
    #mydescrip{
        width:100%;
        display: block;
        text-align: center;
        margin: auto;
    }
    #aboutme{
        height: 582px;
    } 
}
@media screen and (max-width:610px){
    #myimage{
        width: 100%;
    }
}
@media screen and (max-width:580px){   
    #aboutme{
        height:605px;
    }
    #mydescrip{
        width: 90%;
        margin-right: 5%;
    }
}
@media screen and (max-width:470px){
    #aboutme{
        height: 620px;
    }
}
